:root {
	--main-red: #990000;
	--light-red: #cc0000;
	--white: #ffffff;
	--light-black: #212121;
}

*::-moz-selection {
	color: var(--white);
	background-color: var(--main-red) ;
}

*::selection {
	color: var(--white);
	background-color: var(--main-red);
}

html {
	scroll-behavior: smooth;
}

body {
	height: 100vh;
}

p, small, adress {
	color: var(--light-black);
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: var(--light-black);
}

i {
	color: var(--light-red);
	padding: 0px 10px 0px 10px;
}

main {
	height: 100vh;
}

footer {
    height: 50px;
}

.bg-red {
	background-color: var(--main-red);
}

.parallax {
	background-image: url("/img/img-vazia.svg");
	background-color: var(--main-red);
		
	min-height: 100vh;
		
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
}

:target {
	scroll-margin-top: 5em;
}

.light-red {
	color: var(--light-red);
}

.margem {
	margin-top: 40px;
}

.zoom {
	-webkit-transition: -webkit-transform .2s;
	transition: -webkit-transform .2s;
	-o-transition: transform .2s;
	transition: transform .2s;
	transition: transform .2s, -webkit-transform .2s;
}

.zoom:hover {
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
}

.zoom-2nd {
	-webkit-transition: -webkit-transform .2s;
	transition: -webkit-transform .2s;
	-o-transition: transform .2s;
	transition: transform .2s;
	transition: transform .2s, -webkit-transform .2s;
}

.zoom-2nd:hover {
	-webkit-transform: scale(1.02);
	    -ms-transform: scale(1.02);
	        transform: scale(1.02);
}

.navbar {
	background-color: var(--main-red);
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
	        box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
}

.underline {
	position: relative;
	color: var(--white);
	text-decoration: none;  
  }

.underline:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 6px;
	left: 0;
	background-color: var(--white);
	visibility: hidden;
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	    transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.underline:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	-ms-transform: scaleX(1);
	    transform: scaleX(1);
}

.div-1 {
	height: 10vh;
}

.card {
	cursor: pointer;
}

.shadow {
	-webkit-box-shadow: 0px 2px 14px 1px rgba(83, 83, 83, 0.99);
	    box-shadow: 0px 2px 14px 1px rgba(83, 83, 83, 0.99);
}

.reverse-shadow {
	-webkit-box-shadow: inset 0px -5px 12px -5px rgba(0,0,0,0.64); 
		box-shadow: inset 0px -5px 12px -5px rgba(0,0,0,0.64);
}

.display-5 {
	font-size: 2.5rem;
	font-weight: 300;
	line-height: 1.2;
}

.btn-danger:hover {
	background-color: var(--light-red);
	color: white;
	border: 1px solid var(--light-red);
}

.btn-danger {
	background-color: transparent;
	color: var(--light-red);
}

.btn-parallax {
	position: relative;
}

.btn-parallax::before {   
	content:"\25bc";
	width: 100%;
	height: 100%;
	line-height:40px;  
	position:absolute;
	top: -15vh;
	left: 5vh;
	opacity: 0.4;
	color:var(--white);
}

.fa-chevron-down {
	background-color: var(--light-black);
	color: var(--white);
}

.underline-reverse:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: -5px;
	left: 0;
	background-color: var(--light-red);
	-webkit-transform: scaleX(1);
	    -ms-transform: scaleX(1);
	        transform: scaleX(1);
	-webkit-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.underline-reverse, .underline-fixed {
	position: relative;
}

.underline-reverse:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(0);
	    -ms-transform: scaleX(0);
	        transform: scaleX(0);
}


.underline-fixed::after {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 1px;
	background-color: var(--light-red);
	left: 0;
	bottom: -5px;
}

.mail {
	font-weight: bolder;
	color: var(--light-black);
}

.fab-2nd {
	position: absolute;
	bottom: 15px;
	right: 15px;
}
  
.fab-2nd button{
	cursor: pointer;
	width: 48px;
	height: 48px;
	border-radius: 30px;
	background-color: var(--main-red);
	border: none;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
	        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
	font-size: 24px;
	color: var(--white);
}

  
.fab-2nd button.main{
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background-color: var(--main-red);
}
  
.fab-2nd button.main:before{
	content: '↓';
}
  
.fab-2nd button.main:active,
.fab-2nd button.main:focus{
	outline: none;
	background-color: var(--main-red);
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
	        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
}

.fab-2nd button.main:active,
.fab-2nd button.main:focus {
	bottom: 70px;
}

@media (max-width: 540px) {
	.parallax {
		background-image: url("./img/fundo-md.svg");
	}
}

@media (max-width: 300px) {
	.parallax {
		background-image: url("./img/fundo-mobile.svg");
	}
}